DATABASE_URL=mysql+aiomysql://tech_user:tech_password@mysql:3306/tech_challenge
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=tech_challenge
MYSQL_USER=tech_user
MYSQL_PASSWORD=tech_password
MYSQL_ROOT_PASSWORD=root_password
MIGRATION_DATABASE_URL=mysql+aiomysql://tech_user:tech_password@mysql:3306/tech_challenge
SECRET_KEY=a4f8b9c2d3e4f567890abcdef1234567890abcdef1234567890abcdef12345678
NEW_RELIC_USER_KEY=abc
NEW_RELIC_LICENSE_KEY=abc
NEW_RELIC_ACCOUNT_ID=123
NRIA_DISPLAY_NAME=tech-challenge-docker
NRIA_LICENSE_KEY=same-new-relic-license-key